footer {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #161616;
}

.footer_area {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer_contact p {
    margin: 5px;
}

.footer_contact a {
    color: white;
    text-decoration: none;
}

.footer_contact a:hover {
    border-bottom: 1px solid white;
}

@media screen and (max-width: 680px) {
    .footer_area {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .footer_contact {
        flex-direction: column;
    }
}