@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: #232529;
    z-index: 999;
    padding: 0 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    cursor: default;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    margin: 0;
    padding: 20px;
    list-style: none;
}

nav li a:hover {
    color: #0099ff;
}

nav li a,
.contact a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
}

.contact a {
    background-color: #0099ff;
    padding: 10px 20px 10px;
    border-radius: 20px;
}

.contact a:hover {
    transition: .3s;
    background-color: rgb(1, 106, 175);
}

@media screen and (max-width: 650px) {
    nav {
        display: none;
    }
}